.header{
    display: flex;
    border: 1px solid red;
    align-items: center;

}

.header__logo{
    width: 300px;
}


.header__menu{
    display: flex;
}

.header__menu li{
    list-style: none;
    margin: 0 2vw;
    font-weight: 700;
    font-size: 1.3vw;
}