.modal{
	position: fixed;
	top: 0;
	left: 0;
	width: 100vw;
	height: 100vh;
	z-index: 100;
	background-color: var(--black);
	opacity: 1;
}

.modal__close{
	position: absolute;
	width: fit-content;
	top:0;
	right: 0;
	padding: 10px;
}

.modal__close i{
	color: var(--red);
	font-size: 30px;
}

.modal__trailer{
	margin-top: 60px;
}

.modal--hide{
	display: none;
}