.navbar{
	position: fixed;
	top: 0;
	z-index: 100;
	width: 100%;
	display: flex;
	justify-content: space-between;
	align-items: center;
	padding: 2vh;
	transition: 0.4s ease-in-out;

}

.navbar__logo img {
	object-fit: contain;
	width: 150px;
}

.navbar__avatar img {
	object-fit: contain;
	width: 50px;
}

.navbar--dark{
	background-color: var(--black);
	opacity:0.99;
}
